<div class="main-container">
	<div class="main-footer__upper">
		<div class="main-footer__row main-footer__row-1">
			<h2 class="heading heading-sm main-footer__heading-sm">
				<span>Social</span>
			</h2>
			<div class="main-footer__social-cont">
				<a target="_blank" rel="noreferrer" href="https://github.com/Fyvel">
					<img class="main-footer__icon" src="assets/github-ico.webp" alt="icon" />
				</a>
				<a target="_blank" rel="noreferrer"
					href="https://www.linkedin.com/in/fr%C3%A9d%C3%A9ric-delage-576869109/">
					<img class="main-footer__icon" src="assets/linkedin-ico.webp" alt="icon" />
				</a>
			</div>
		</div>
		<div class="main-footer__row main-footer__row-2">
			<h2 class="heading heading-sm text-lt">Fred Delage</h2>
			<p class="main-footer__short-desc">
				Full-stack developer with a passion for creating beautiful and functional web experiences!
			</p>
		</div>
	</div>
	<div class="main-footer__lower">
		&copy; Copyright 2023. Inspired by good guy <a rel="noreferrer" target="_blank"
			href="https://www.rammaheshwari.com/">Ram Maheshwari</a> and made with ❤️ by
		<a rel="noreferrer" target="_blank" href="/#">Fred Delage</a>
	</div>
</div>