<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="shortcut icon" href="assets/favicon.svg" type="image/x-icon" />
<link rel="preload" as="style" href="css/style.min.css">
<link rel="stylesheet" href="css/style.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin
	href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" />
<script src="js/index.js" async></script>
<noscript>
	<link rel="stylesheet" href="css/style.min.css">
</noscript>