.skills {
	display: flex;
	flex-wrap: wrap;
	&__skill {
		padding: 1rem 2rem;
		margin-bottom: 1.5rem;
		margin-right: 1.5rem;
		font-size: 1.6rem;
		background: $themeGreen;
		border-radius: $commonBorderRadius;
		font-weight: 600;
		color: #333;

		&.web {
			background: $web;
		}
		
		&.backend {
			background: $backend;
		}
		
		&.database {
			background: $database;
		}
		
		&.cloud {
			background: $cloud;
		}
		
		&.version-control {
			background: $version-control;
		}

		&.testing {
			background: $testing;
		}
	}
}
